<form class="post-form">

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Add to your wishlist here!</label>
    <textarea class="form-control" id="wishlistEntry" rows="10"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<div id="dashboard-btns">
      <button><a href="/dashboard">Return to your dashboard</a></button>
       
</div>

<script src="./js/postToWishlist.js"></script>