<div class="row">
  <div class="col-md-6">
    <h2>Find a friend's wishlist!</h2>

    <form class="friend-form">
     
      <div class="form-group">
        <label for="name-login">Friend's name:</label>
        <input class="form-input" type="text" id="friendName" />
      </div>
      </div>
      <br>
      <div class="form-group">
        {{!-- <button<class="btn btn-primary" id="login-btn" type="submit">submit</button> --}}

        {{!-- <button><class="btn btn-primary" id="login-btn" type="submit"><a href="/friendFoundWishlist/:friendName">View Friend's Wishlist</a></button> --}}
        <button><class="btn btn-primary" id="login-btn" type="submit"><a>View Friend's Wishlist</a></button>

      </div>
    </form>

    <div id="dashboard-btns">
      <button><a href="/dashboard">Return to your dashboard</a></button>
       
</div>

</div>



<script src="js/getFriendWishlist.js"></script>

