
{{!-- <h2 id="time-left"> </h2> --}}


<div>  
 
      
        {{!-- <a href="/"> --}}
        <img src="../images/logo.png" id="logo">
        {{!-- </a> --}}
     
    
      <div class="home-buttons">
        <button id="home-login"><a href="/login" >login</a></button>
        <button id="home-signup"><a href="/signup" >signup</a></button>
      </div>
</div> 

<script src="/js/clock.js"></script>
