<section>
   
  <h1>{{name}}'s Wishlist! </h1>

  {{#each wishlists as |wishlist|}}
    <div">
      <p>
        {{wishlist.wishlist_text}}.
      </p>
    </div>
  {{/each}}
 
</section>

<div id="dashboard-btns">
      <button><a href="/dashboard">Return to your dashboard</a></button>
       
</div>



  